
    /*Using the import function to import the poppins from Google fonts*/
    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

    
 /*Resetting default styles for all elements and using the same font for all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


html, /*putting the wrapper in the center and customising the background*/
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #282a36;

  background-image: url('dumbell background.jpg'); /* Path to your background image */
    background-size: cover; /* Makes the image cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image horizontally and vertically */
}


::selection { /*the text that got highlighted gets customised*/
  background: #1a75ff;
  color: #fff;
}


.wrapper {  /*works on the main container for the log in and my signup forms*/
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}


.wrapper .title-text {  /*container for slide effects and headings*/
  display: flex;
  width: 200%;
}

.wrapper .title { /*styling code for both headings of the form sign up and log in*/
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls { /*styling for how the slide effects container*/
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}


.slide-controls .slide {  /*styling labels that look like buttons on my slide effect*/
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}


.slide-controls label.signup {  /*text colour for the registeration when not interacting*/
  color: #000;
}


.slide-controls .slider-tab {  /*sliding tab animation effect*/
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] { /*hide radio inputs*/
  display: none;
}

#signup:checked ~ .slider-tab {/*if you click to register slide the tab to the right*/
  left: 50%;  
}


#signup:checked ~ label.signup {  /*when registration is active change the text colour and turn off the selections*/
  color: #fff;
  cursor: default;
  user-select: none;
}


#signup:checked ~ label.login { /*when registration is active change login side colour */
  color: #000;
}


#login:checked ~ label.signup { /*when log in is active change register side colour */
  color: #000;
}

#login:checked ~ label.login {   /*when sign in is active change the text colour and turn off the selections*/
  cursor: default;
  user-select: none;
}


.wrapper .form-container {  /*both sides of the forms container*/
  width: 100%;
  overflow: hidden;
}


.form-container .form-inner { /*a container holding both my forms side by side*/
  display: flex;
  width: 200%;
}


.form-container .form-inner form {  /*each form being split up evenly*/
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.form-inner form .field { /*styling placeholders*/
  height: 50px;
  width: 100%;
  margin-top: 20px;
}


.form-inner form .field input { /*styling input fields*/
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}


.form-inner form .field input:focus { /*changes the border colour*/
  border-color: #1a75ff;
  
}


.form-inner form .field input::placeholder {  /*change placeholder colour on focus*/
  color: #999;
  transition: all 0.3s ease;
}


form .field input:focus::placeholder {  /*placeholdder colour must change when hovered on or focused on*/
  color: #1a75ff;
}


.form-inner form .pass-link { /*reset the psw link*/
  margin-top: 5px;
}


.form-inner form .signup-link { /*sign up link*/
  text-align: center;
  margin-top: 30px;
}


.form-inner form .pass-link a,
.form-inner form .signup-link a { /*styling the quick links and anchors*/
  color: #1a75ff;
  text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover { /*when hovered on  then underline the links*/
  text-decoration: underline;
}

form .btn { /*submit button styles */
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {  /*Button animation feature*/
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #003366,
    #004080,
    #0059b3,
    #0073e6
  );
  border-radius: 15px;
  transition: all 0.4s ease;
}


form .btn:hover .btn-layer { /*an animation feature used when the button get hovered over*/
  left: 0;
}


form .btn input[type="submit"] {  /*styles for input submission within the button*/
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


    